<!--Footer Begins Here -->
<div class="container-fluid bg-dark">


    <p class="m-0 text-center text-white">
        Copyright <span>&copy;Talha Mirza, Tony Varghese</span>
    </p>



</div>
<!-- Footer Ends Here -->