<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item bc-item text-info"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">About</li>
        </ol>
    </nav>
</div>


<div class="row">

    {{>sidebar}}

    <div class="col-md-9">


        <div>

            <br><br>

            <h3>Introduction</h3>
            <hr>
            <p>I have recently completed my higher education and I am now actively seeking employment.During my
                university studiesm I learnt skills in computer science.
                I am a reliable person with good time keeping.I am able to follow instructions accurately,I possess good
                verbal and written skills.
            </p>
        </div>
        <br><br>
        <div>
            <h3>About this project</h3>
            <hr>
            <p>I created this project starting with creating templetes using <b>handlebars</b> in express
                generator.Creating various templates and pages using bootstrap
                ,I linked the pages,creating the routes.I also added a backend form validation part in this project.
            </p>
        </div>
        <br><br><br>


    </div>





</div>