<!-- sidebar start -->

<div class="container">
    <div class="row">
        <nav class="col-md-3 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h4
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Social Profiles of Mirza Talha</span>
                        </h4>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            LinkedIn
                            <img src="/images/linkedinicon.png">
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Github <img src="/images/githubicon.png">
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Facebook <img src="/images/facebookicon.png">
                        </a>
                    </li>
                </ul>
                <hr>
                <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Social Profiles of Tony Varghese</span>

                </h4>

                <ul class="nav flex-column mb-2">
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                            LinkedIn <img src="/images/linkedinicon.png">
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                            Facebook <img src="/images/facebookicon.png">
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                            Github <img src="/images/githubicon.png">
                        </a>
                    </li>

                </ul>
            </div>
        </nav>


        <div class="col-md-9">
            <form>
                <div>
                    <h1 class="display-4">Contact Us</h1>


                </div>

                <div class="form-group ">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" aria-describedby="emailHelp"
                        placeholder="Enter name">

                </div>
                <div class="form-group ">
                    <label for="exampleFormControlInput2">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput2" aria-describedby="emailHelp"
                        placeholder="Enter email">

                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput3">Mobile number</label>
                    <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Number">
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>



<!-- sidebar end -->